{% extends 'learning_logs/base.html' %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a>
  </p>

  	{% for entry in entries %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            {{ entry.date_added|date:'M d, Y H:i' }}
            <small>
              <a href="{% url 'learning_logs:edit_entry' entry.id %}">
                编辑文章
              </a>
            </small>
          </h3>
        </div>
        <div class="panel-body">
          {{ entry.text|linebreaks }}
        </div>
      </div><!--panel -->
    {% empty %}
      这个主题还没有编辑文章。
  	{% endfor %}

{% endblock content %}